@"
# LaTeX build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot

# Build folders
out/
!out/.gitkeep
build/
dist/

# Others
images/*
!images/.gitkeep

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
"@ | Set-Content .gitignore

